.header {
    font-family: 'Comfortaa', cursive;
    background: #0234FA;
    color: #FFFDFA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px; 
    padding: 15px;
    flex-wrap: wrap;
}

.header, p {
text-align: left;
}
.header img {
    align-items: right;
    height: auto;
    width: auto;
    
}

.container {
    min-width: 450px;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.wrapper .container > div{
    flex: 0 1 auto;
}

div > img ~ p{
    border-radius: 4px;
}

body{
    background: #F5F0D0;
    font: sans-serif;
}
