/* Colors:
#B545FF : violet
#5B3CDE : indigo
#4E72F5 : navy-ish blue
#3CA0DE : cerulean blue
#76FAF8 : light blue / cyan
*/

body{
    background: #4E72F5;
    font: sans-serif;
}

.header {
    font-family: 'Comfortaa', cursive;
    background: #5B3CDE;
    color: #FFFDFA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px; 
    padding: 15px;
    flex-wrap: wrap;
}

.header, p {
text-align: left;
}

.header img {
    align-items: right;
    height: 100px;
    width: 100px;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    max-width: 960px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.block1 p{
    margin: 15px;
    background: #76FAF8;
    border: solid 1px transparent;
    width: 350px;
    flex: 0 1 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wrapper .container > div{
    flex: 0 1 auto;
    margin-right: 15px;
}

div > img ~ p{
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

@media screen and (max-width: 1000px){
    .container{
        justify-content: center;
    }
    .wrapper .container > div{
        flex: 1 0 auto;
        margin-right: 0px;
        flex-wrap: wrap;
    }
    div > img ~ p{
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
    }
}

.block2 {
    background: #76FAF8;
    border: solid 1px transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    flex: 0 1 auto;
    padding: 15px;
    flex-wrap: wrap;
}