.header {
    font-family: 'Comfortaa', cursive;
    background: #0234FA;
    color: #FFFDFA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px; 
    padding: 15px;
    flex-wrap: wrap;
}

.header, p {
text-align: left;
}
.header img {
    align-items: right;
    height: 354px;
    width: 354px;
    
}

.content{
    width: 960px;
}

@media screen and (max-width: 1000px){
    .container {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    }
    



.wrapper .container > div{
    flex: 1 0 auto;
}


@media screen and (max-width: 1000px){
    .block1{
        display:flex;
        flex-wrap: wrap;
        flex: 1 0 auto;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        margin-bottom: 15px;
        width: 33.3%;
        height: 33.3%;
    }
    }
    
    @media screen and (max-width: 1000px){
        .block1 p{
            margin: 15px 0 0 0;
            border-radius: 4px;
            padding: 15px;
            flex: 0 1 auto;
        }
    }
    

div > img ~ p{
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

div > img{
    width: auto;
    height: auto;
}


body{
    background: #00F6E5;
    font: sans-serif;
}
